<!DOCTYPE html>
<html>
  <head>
    <title>RailsJs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body>
	
		<%= link_to "Home", root_path %> |
		<%= link_to "New Recipe", new_recipe_path %> |
		<% if @recipe %>
			<%= link_to "New Ingredient", new_recipe_ingredient_path(@recipe) %> 
		<% end %>

		<hr>
    <%= yield %>
  </body>
</html>
